@import url('https://fonts.googleapis.com/css?family=Raleway');

.selector-for-some-widget {
    box-sizing: content-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 200;
}