@import url('https://fonts.googleapis.com/css?family=Raleway');

html{
	font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

body{
	margin: 0;
    padding: 0;
}

.container-fluid{
    margin: 0; 
    padding: 0; 

}


.carousel-indicators li {
  width: 10px;
  height: 10px;
  margin-left: 1em;
  border-radius: 100%;
  background-color: #000;
  margin-bottom: 5em;
}
